<div *ngIf="item">
    <h3>{{item.name|uppercase}} Details:</h3>
    <div>
      <label class="badge">Price</label>
      <input type="number" [(ngModel)]="item.price" placeholder="Price">
      <label class="badge">Quantity:</label>
      <input type="number" [(ngModel)]="item.quantity" placeholder="quantity">
      <label class="badge">Type:</label>
      <input type="text" [(ngModel)]="item.type" placeholder="type">
      <label class="badge">Avalable:</label>
      <input type="checkbox" [(ngModel)]="item.active" >
        </div>
        <button (click)="save()">save</button>
        <button (click)="goBack()">go back</button>
    </div>