

 <div class="grid grid-pad">
    <a *ngFor="let item of freitems" class="col-1-4" routerLink="/details/{{item.id}}">
      <div class="module hero">
        <h4>{{item.name}}</h4>
        <h3>&#8377; {{item.price}}</h3>
      </div>
    </a>
</div> 
