<div  *ngIf="!selectedItem"> 
  <h2>Items List</h2>
  <ul class="heroes" *ngFor="let item of items" (click)="onSelect(item)"> 
     <li>
        <a routerLink="/detail/{{item.id}}">
       <span class="badge">{{item.id}}</span>
        {{item.name}} </a>
         <button class="delete" title="delete item"
        (click)="delete(item)">x</button>
      <!-- <label class="badge">Price:</label>{{item.Price}}
      <label>Quantity:</label>{{item.quantity}} 
      <label class="badge">Type:</label>{{item.type}} 
      <label>Avalable:</label>{{item.active}} -->
      </li>
    </ul>
</div>
<div >
    <label>Item Name:
      <input #itemName [required] maxlength="10" type="text" placeholder="Name" />
    </label>
    <label>Item Price: <input required #itemPrice type="number"></label>
    <label>Item Quantity <input required type="number" #itemQuantity></label>
    <label>Itemtype <input #itemType required maxlength="10" type="text" placeholder="Type" ></label>
    <label>Avalable <input #itemActive required type="checkbox"></label>

    <!-- (click) passes input value to add() and then clears the input -->
    <button  (click)="add(itemName.value,itemPrice.value,itemQuantity.value,itemType.value,itemActive.value)">
      add
    </button>
  </div>

<!-- <app-item-detail [item]="selectedItem"></app-item-detail> -->